* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
}

body{
    font-size: 13px;
    color: #fff;
    background-color: #202124;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-main{
    width: 100%;
    height: 60px;
}

.nav-main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 16px;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    align-items: center;
}

.nav-items li{
    list-style: none;
}

.nav-items li a{
    text-decoration: none;
    color: #fff;
}

.img-menu{
    width: 16px;
    filter: invert(100%);
    margin: 0 5px;
}

.img-profile{
    border-radius: 30px;
    width: 32px;
    height: 32px;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-logo{
    margin-bottom: 20px;
}

.img-logo{
    width: auto;
    height: 88px;

}

.main-input{
    display: flex;
    color: #fff;
    border-radius: 24px;
    border: 1px solid #5f6368;
    height: 44px;
    margin: 0 auto 29px;
    width: 580px;
    font-size: 16px;
    align-items: center;
    padding: 0 12px;
}

.main-input:hover{
    background-color: #303134;
    
}

#miInput {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    cursor: text;
    flex-grow: 1;
    padding-left: 15px;
    height: 100%;
    font-size: 14px;
}

.icon-search{
    width: 18px;
    height: 18px;
}

.icon-search svg{
    color: #999da2;
}

.icon-mic{
    width: 18px;
    height: 18px;
}

.main-buttons{
    display: flex;
    font-family: arial,sans-serif;
    font-size: 14px;
    gap: 5px;
}

#button-seach {
    background-color: #303134;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

#button-seach:hover {
    border: 1px solid #999da280;
}

#button-mic {
    background-color: #303134;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

#button-mic:hover {
    border: 1px solid #999da280;
}



.footer-main{
    color: #999da2;
    background:#171717 ;
    font-size: 15px;
}

.footer-top{
    border-bottom: .5px solid #9aa0a66b;
}

.footer-top ul{
    padding: 15px 20px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
}

.footer-bottom ul{
    gap: 18px;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}